<ion-app>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        DOCABOG
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ng-container *ngIf="user != null">
          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon> Log Out</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/profile']"><ion-icon name="person-circle-outline"></ion-icon> My Profile</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/profile']"><ion-icon name="hammer-outline"></ion-icon> Workspace</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item><ion-icon name="help-circle-outline"></ion-icon> Tutorial</ion-item>
          </ion-menu-toggle>
        </ng-container>

      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>