<ion-app>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        DOCABOG
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
