<ion-content [fullscreen]="true">
  <div id="container">
    <strong>SIGN UP </strong>
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="registerForm">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Phone</ion-label>
              <ion-input  type="text" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" formControlName="password2"></ion-input>
            </ion-item>
            <br>
            <ion-button shape="round" [disabled]="registerForm.invalid" (click)="createUser()">Create User</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>